PORT=3000

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password
SMTP_FROM="COLOBRAS Web <no-reply@example.com>"
COMPANY_EMAIL=col.obrasingarq@gmail.com
SMTP_TLS_REJECT_UNAUTHORIZED=true
